/* body {
  margin: 0;
  background-color: bisque;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: absolute;
  width: 200px;
  height: 300px;
  background: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  position: relative;
  width: 60%;
  height: 60%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  margin: 20px;
}

.card:hover {
  cursor: pointer;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: brown;
  color: white;
  text-align: center;
  border-radius: 10px;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: rosybrown;
  color: black;
  text-align: center;
  transform: rotateY(180deg);
  border-radius: 10px;
}

.flipCard {
  transform: rotateY(180deg);
} /* Reference: https://jefferson-cuartas.medium.com/how-to-create-a-flip-card-effect-using-javascript-767dd945210c */

body {
  background-color: bisque;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: monospace;
}

.container {
  background-color: brown;
  border-radius: 10px;
  height: 450px;
  width: 450px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
}

#reset {
  background-color: burlywood;
  padding: 10px;
  border-radius: 5px;
  color: brown;
  border: none;
  cursor: pointer;
  font-family: monospace;
}

.card {
  border-radius: 5px;
  height: 80px;
  width: 150px;
  background-color: palevioletred;
  margin: auto;
  cursor: pointer;
  font-size: 50px;
  text-align: center;
  perspective: 1000px;
}

.inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.front {
  width: 100%;
  height: 100%;
  background-color: pink;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  border-radius: 5px;
}

.back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip {
  transform: rotateY(180deg);
} /* Reference: https://jefferson-cuartas.medium.com/how-to-create-a-flip-card-effect-using-javascript-767dd945210c */

/* There's something wrong with the flipping transition, it looks weird */